<ion-view title="Buscar" id="page3" style="background-color:#96042D;">
  <ion-content padding="true" class="has-header">
    <form id="buscar-form1" class="list">
      <label class="item item-input" id="buscar-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="buscar-list3">
      <ion-item id="buscar-list-item14">Escondidinho de Bacalhau</ion-item>
      <ion-item id="buscar-list-item15">Carne de Sol do Sertão</ion-item>
      <ion-item id="buscar-list-item16">Pastel de Filé Mignon</ion-item>
    </ion-list>
    <ion-list id="buscar-list4">
      <ion-item id="buscar-list-item17">Camarão aos Quatro Queijos</ion-item>
      <ion-item id="buscar-list-item18">Costela Suína no Molho Barbecue</ion-item>
    </ion-list>
  </ion-content>
</ion-view>