<ion-view title="Inicio" id="page2" style="background-color:#A8092F;">
  <ion-content padding="true" class="has-header">
    <ion-list id="inicio-list2">
      <label class="item item-input" id="inicio-input2">
        <span class="input-label">Cardapio</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-thumbnail-left positive" id="inicio-list-item6">
        <img src="img/IuuoRl1Qu6tPEEHr6EdB_Escondidinho-de-Bacalhau-150x150.jpg">
        <h2positive>Escondidinho de Bacalhau
          <p style="white-space:normal;">Bacalhau desfiado e refogado com cebola, coentro e nata do sertão, coberto com purê de batata e gratinado com queijo parmesão.</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="inicio-list-item7">
        <img src="img/zZFvVSh4QtXu7nl8rFVv_Carne-de-Sol-do-Serto-150x150.jpg">
        <h2positive>Carne de Sol do Sertão
          <p style="white-space:normal;">Arroz de leite coberto com carne de sol desfiada e refogada na manteiga da terra com cebola roxa, nata e coentro. Gratinada com queijo coalho. Acompanha macaxeira frita.</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="inicio-list-item8">
        <img src="img/seVA6AdQmKcQztAWw9ew_pastel-de-Fil-Mignon-1-150x150.jpg">
        <h2positive>Pastel de Filé Mignon
          <p style="white-space:normal;">Massa fresca recheada com filé mignon picadinho, temperado e refogado.</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="inicio-list-item9">
        <img src="img/Hw800fdSdez4duIAVxkc_Camares-aos-Quatro-Queijos-150x150.jpg">
        <h2positive>Camarão aos Quatro Queijos
          <p style="white-space:normal;">Camarões salteados com cebola, vinho branco e molho cremoso de queijo. Acompanha arroz com passas e batata palha.</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="inicio-list-item10">
        <img src="img/pWtlXl7UQLOcwZxnWSgr_Costela-Suna-150x150.jpg">
        <h2positive>Costela Suína no Molho Barbecue
          <p style="white-space:normal;">Suculenta costela suína, servida com molho barbecue e batatas fritas. Acompanha arroz branco.</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>