<ion-view title="Perfil" id="page4" style="background-color:#B90921;">
  <ion-content padding="true" class="has-header">
    <ion-list id="perfil-list5">
      <ion-item class="item-avatar item-icon-right dark" id="perfil-list-item20">
        <img src="img/uuecv7GTR6xKPBYkqHfK_WhatsAppImage2019-06-28at02.12.24.jpeg">
        <h2dark>Lucas Silva
          <i class="icon ion-android-contact"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-right" id="perfil-list-item21">Email - lucassilva1050@gmail.com
        <i class="icon ion-email"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="perfil-list-item22">TEL - 68 9 92468074
        <i class="icon ion-ios-telephone"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="perfil-list-item23">End - Rua Padre Felipe
        <i class="icon ion-android-locate"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>